<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Guitars</a>
        <div class="d-flex">
            <ul class="navbar-nav d-flex">
                <li class="nav-item" ng-if="navBarCtrl.isLoggedIn()">
                    <a class="nav-link" href="/#/guitars/new" ng-class="{'active':navBarCtrl.isActiveTab('guitars')}">Add Guitar</a>
                </li>
                <li class="nav-item"  ng-if="navBarCtrl.isLoggedIn()" ng-click="navBarCtrl.logoutHandler()">
                    <a class="nav-link" style="cursor: pointer">Logout</a>
                </li>
                <li class="nav-item" ng-if="!navBarCtrl.isLoggedIn()">
                    <a class="nav-link" href="/#/login" ng-class="{'active':navBarCtrl.isActiveTab('login')}">Login</a>
                </li>
                <li class="nav-item" ng-if="!navBarCtrl.isLoggedIn()">
                    <a class="nav-link" href="/#/register" ng-class="{'active':navBarCtrl.isActiveTab('register')}">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
